body{
    /* background: url(../image/bg-3.jpg); */
background-attachment: fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body::after{
    position: fixed;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
}
nav {
    backdrop-filter: blur(7px);
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.nav-link{
    color: var(--bs-dark-bg-subtle);

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255 255 255);
}
.nav-link:focus, .nav-link:hover {
    color: #fff;
}
input {
    color: #fff;
    background-color: #000000cf;
    border: var(--bs-border-width) solid #000000;
    transition: 0.3s;
    border-radius: 25px;
}
input:focus {
    color: #ffffff;
    background-color: #233155;
    border-color: #02060d;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(8 17 23);
}
::placeholder{
    color: #fff;
}
.weather {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 11px #00000042;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 100%;
    border-radius: 15px;
    margin: 0 auto;
    color: #fff;
}
.search-box{
    background: rgba(0, 0, 0, 0.3);
    padding: 4px;
    border-radius: 8px;
}
input{
    background:transparent;
    outline: none;
    padding-left: 25px;
    color: #ffffff;
}
.search{
    cursor: pointer;
    border-bottom-right-radius: 8px;
}
::placeholder{
    text-transform: capitalize;
    color: #ffffff;
}
.search-box i{
    font-size: 20px;
}
.details i,.east-box i{
    font-size: 35px;
}
.details span,.east-box span{
    font-size: 20px;
    font-weight: 500;
}
.details h6,.east-box h6{
    font-size: 16px;
}

.details{
    justify-content: space-around;
}
.row.next {
    backdrop-filter: sepia(0) blur(10px);
    padding: 12px 0;
    background: transparent;
}
@media (max-width:500px) {
    .weather{
        width: 94%;
        height: 100%;
    }
    .details i,.east-box i{
        font-size: 25px;
    }
    .details span,.east-box span{
        font-size: 16px;
        font-weight: 500;
    
}
.details{
    justify-content: space-between;
}
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent;
    box-sizing: border-box;
    z-index: 222222;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF3D00 #FF3D00;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      .load{
          position: fixed;
          top:0;
          left:0;
        height: 100vh;
        width: 100%;
        transform: translate(-50%,-50%);
        background-color: #000;
        z-index: 1;
      }

      .social i {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: black;
        color: #bdbdbd;
        cursor: pointer;
        transition: 0.5s;
    }
    .social i:hover{
        background: rgba(0, 0, 0, 0.102);
        transform: rotate(-320deg);
        backdrop-filter: blur(5px);
    }
    .social p{
        font-size: 15px;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.3);
    }
    img{
        margin: 5px 0;
    }
    .navbar-brand img{
        width: 50px;
    }
    .trans{
        transition: 0.4s;
    }
    .trans:hover{
        transform: translateY(-9px);
    }
    .suc{
        width: 50%;
    }
    @media (max-width:767px) {
        .suc{
            width: 100%;
        }
        ::placeholder {
            font-size: x-small;
        }
    }
    a{
        text-decoration: none;
    }
    .hum {
        width: 49px;
        height: 38px;
    }
    .hum span{
        width: 100%;
        height: 3px;
        background-color: #FFF;
        transition: 0.5s;
        left: 0;
    }
    .hum span:first-child{
        top: 0;
    }
    .hum span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    .hum span:last-child{
        bottom: 0;    
    }


    .hum span:first-child.active{
        top: 50%;
        transform: rotate(45deg);
        background-color: red;
    }
    .hum span:nth-child(2).active{
        opacity: 0;
    }
    .hum span:last-child.active{
        top: 50%; 
        transform: rotate(-45deg);
        background-color: red;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        border: none;
        box-shadow: unset;
    }